# "Coding the Matrix: Linear Algebra through Applications to Computer Science"
The book is by Philip N. Klein of Brown University (website:http://codingthematrix.com/ & ISBN:9780615856735). This book focuses on learning and applying linear algebra with respect to programming, specifically Python.  The book suggests that the student reading the text is adept in programming (in a CompSci program or taught themselves programming) and has a basic understanding of math and probabilities.  

This is my first time using this book and I am hoping to learn the applications of linear algebra for future endeavors in bioinformatics.  I will be uploading my notes from the text.  These notes will be reflective of the topics discussed in the book but with my interpretation.  I have two goals.  First, I aim to share notes that are digestable.  The second, is to push my programming abilities.  You will see that I use my own terminology.  I will include a disclaimer when I do.  I will ask that if you think am over simplifying or misrepresenting something, PLEASE LET ME KNOW!!  Because I may use different terms or present incomplete review of certain sections, it is important for you to learn on your own.  In the spirit of Donna Meagle and Tom Havaford from Parks and Rec *"Teach Yo' Self!"*.  


# Chapter 0: The Function (and other mathematical and computational preliminaries)

Chapter 0 is an overview of the mathematical concepts that will be encountered throughout the book and an introduction to Python as it applies to the text. I will not be covering 0.1 Set terminology and notation.  I will be using Python code to displaying concepts and methods.

## 0.2 Cartesian product
Cartesian product is the product of two sets that represent all possible pairs of the two sets.  Think about a deck of cards.  There are four suits each consisting of Ace through King.  

Or, there are 4 categories with 13 values per category.

In [244]:
cat = ['Red', 'Blue', 'Yellow', 'Black']               # set 4 categories
CartProd = [(n, c) for n in range(1, 14) for c in cat] # create the Cartesian product using a for loop
len(CartProd)                                          # the value of the Cartesian product; aka "cardinality"

52

## 0.3 The function

A function is a rule that produces an augmented set from the original.  A perfect example is list comprehension.

In [245]:
rng = range(1, 6)
fofx = [[n,2*n,n*n] for n in rng]                    
gofx = [n/2 for n in rng]                            
fofgofx = [[g,2*g,g*g] for g in gofx]               
goffofx = [[f/2 for f in lst] for lst in fofx]

In [246]:
fofx   # f(x) = [x, 2x, x^2]

[[1, 2, 1], [2, 4, 4], [3, 6, 9], [4, 8, 16], [5, 10, 25]]

In [247]:
gofx   # g(x) = x/2

[0.5, 1.0, 1.5, 2.0, 2.5]

In [248]:
fofgofx   # f(g(x)) = [x/2, x, (x/2)^2]

[[0.5, 1.0, 0.25],
 [1.0, 2.0, 1.0],
 [1.5, 3.0, 2.25],
 [2.0, 4.0, 4.0],
 [2.5, 5.0, 6.25]]

In [249]:
goffofx   # g(f(x)) = [x/2, x, (x^2)/2]

[[0.5, 1.0, 0.5],
 [1.0, 2.0, 2.0],
 [1.5, 3.0, 4.5],
 [2.0, 4.0, 8.0],
 [2.5, 5.0, 12.5]]

Note that f(x) and g(x) are not invertible.

In [250]:
zofx = [n*3 for n in rng]
gofzofx = [n/2 for n in zofx]
zofgofx = [n*3 for n in gofx]

In [251]:
gofzofx   # g(z(x)) = (x*3)/2

[1.5, 3.0, 4.5, 6.0, 7.5]

In [252]:
zofgofx   # z(g(x)) = (x/2)*3

[1.5, 3.0, 4.5, 6.0, 7.5]

Where z(x) and g(x) are invertible.  It is very important to recognize what makes functions invertible.  There are few proofs in this section that define the criteria.  *Teach Yo' Self!*

## 0.4 Probability
Probability is defined as *the likelihood an event will occur*.

Throughout these notes you will see me use "proability" and "occurance rate" interchangeably.

I interpret the description as *the rate an event can occur*.  

**DISCLAIMER:If you are confused by my meaning or don't want to stray from best practice, whenever you see "occurance rate" replace it with "probability".**

An outcome is one of multiple instances that an action can result.  If I am thinking about eating candy, two obvious outcomes result: I will eat candy and I won't eat candy.

An event is the observed outcome of an action.  If I go from thinking about candy to eating it, the event is me eating candy.

I bring up this kind of action because it calls into question the model of a *discrete* system.  A discrete system only is concerned with a finite number of outcomes, all of which are proportional to the relative probability of all outcomes.  In this example the number of outcomes is greatly impacted by environment, mood, day of the week, etc.  

It is due to factors like these that make the example defined by a *continuous system*.  *Teach Yo' Self!*

### Uniform distributions
Each event have equal occurance rate.  Let's say I have two coins, a penny and a quarter.  I flip both of these coins at the same time and observe both land on heads.  This is the observed event out of four possible events.  Below is code that represents the action of flipping two coins:

In [253]:
penny = ('H', 'T') 
quarter = ('H', 'T') 
events = [(p, q) for p in penny for q in quarter] #defines the possible events
prob = 1/len(events)                              #defines the occurance rate
Unidistr = {e:prob for e in events}               #defines a dictionary that connects each event to its occurance rate
Unidistr

{('H', 'H'): 0.25, ('H', 'T'): 0.25, ('T', 'H'): 0.25, ('T', 'T'): 0.25}

## Nonuniform distributions
Each event have different occurance rates.  Below is a function that takes an argument that will find the occurance rate of odds and evens in the argument.

In [254]:
def odd_even(lst):
    odds = []
    evens = []
    for x in lst:
        evens.append(x) if x % 2 == 0 else odds.append(x)
    prob_o = len(odds)/len(lst)
    prob_e = len(evens)/len(lst)
    print("""Occurance rate of evens: {}
Occurance rate of odds:  {}""".format(prob_e, prob_o))

In [255]:
from random import randint
lst = [1,2,4,5,6,2,4,6,2,34,245,123]
odd_even(lst)
lst[randint(0,len(lst)-1)]

Occurance rate of evens: 0.6666666666666666
Occurance rate of odds:  0.3333333333333333

6

#### Sets
In python, sets are a data structure equivlent to mathematical sets.  They are collecions of data points that do not allow for duplicate data and don't recognize indeces like a list or dictionary.  Sets are also mutable.

In [256]:
# define set variable
dat = {2,4,14,1,23,52}
dat

{1, 2, 4, 14, 23, 52}

In [257]:
# summing the elements in a set
sum(dat, 10)

106

In [258]:
# boolean tests and sets
10 in dat

False

In [259]:
# union operator
dat | {5,687}

{1, 2, 4, 5, 14, 23, 52, 687}

In [260]:
# intersection operator
dat & {52, 687}

{52}

After using the union operator ( | ) on dat, dat is not mutated.  The intersection operator ( & ) confirms.  Below are some methods for mutating sets.

In [261]:
# methods for mutating
dat.add(687)
dat.remove(52)
dat & {52, 687} # note: intersection operator DOES NOT MUTATE!

{687}

In [262]:
# .update() method uses union operator to mutate
sat = {54, 828,92, 10, 55}
dat.update(sat)
dat

{1, 2, 4, 10, 14, 23, 54, 55, 92, 687, 828}

In [263]:
# .intersection_update() method uses intersection operator to mutate
dat.intersection_update(sat)
dat

{10, 54, 55, 92, 828}

In [265]:
# lets see what happens when you assign a new variable to the first
gat = dat
gat

{10, 54, 55, 92, 828}

In [266]:
# Python will point to the same set 
gat.remove(10)
dat

{54, 55, 92, 828}

In [267]:
# to avoid mutating the same set you would use .copy()
tat = dat.copy()
tat.add(10)
print('''tat:{}
dat:{}'''.format(tat, dat))

tat:{828, 10, 54, 55, 92}
dat:{92, 54, 55, 828}

Set comprehensions are incredibly useful.  As you have seen earlier in the notes I have used list and conditional comprehension to create lists and execute functions.

In [268]:
# set comprehension, f(x) = 2^x
yat = {2**x for x in {0,1,2,3}} 
yat

{1, 2, 4, 8}

In [269]:
# set comp works with operators
qat = {x**2 for x in set(range(4)) | {4, 20}}
qat

{0, 1, 4, 9, 16, 400}

In [270]:
# set comp can be stacked with conditional statement
cat = {x+4 for x in set(range(5,10)) | {4, 30, 76} if x <= 10}
cat

{8, 9, 10, 11, 12, 13}

In [3]:
# Task 0.5.8 - create a set comprehension that prodces a 5-element set from two disjointed (non-overlapping) sets
vat = {x*y for x in {1,2,4} for y in {3,6,12} if x != y}
vat

{3, 6, 12, 24, 48}

In [272]:
# Task 0.5.9 - use set comprehension in place of intersection operator
s = set(range(1,5))
t = set(range(3,7))
s = {x for x in s for y in t if x==y} 
s

{3, 4}

In [4]:
# Task 0.5.10 - write an expression that produces the average of a list
lst = [20, 10, 15, 75]
exp = sum(lst)/len(lst)
exp

30.0

In [5]:
# Task 0.5.11 - write a list comp that produces the cartesian product of ['A', 'B', 'C'] and [1, 2, 3]
crtprd = [[x, y] for x in ['A', 'B', 'C'] for y in [1, 2, 3]]
crtprd

[['A', 1],
 ['A', 2],
 ['A', 3],
 ['B', 1],
 ['B', 2],
 ['B', 3],
 ['C', 1],
 ['C', 2],
 ['C', 3]]

In [10]:
# Task 0.5.12 - write a list comp that will sum every element in a list that contains sublists
lst = [[.25, .75, .1], [-1, 0], [4,4,4,4]]
exp = sum(sum(n) for n in lst)
exp

16.1

In [20]:
# Task 0.5.14 - write a comp that produces all 3-element tuples of sum zero, integers come from set
s = set(range(-2, 3))
exp = list((i, j, k) for i in s for k in s for j in s)
exp

[(0, 0, 0),
 (0, 1, 0),
 (0, 2, 0),
 (0, -1, 0),
 (0, -2, 0),
 (0, 0, 1),
 (0, 1, 1),
 (0, 2, 1),
 (0, -1, 1),
 (0, -2, 1),
 (0, 0, 2),
 (0, 1, 2),
 (0, 2, 2),
 (0, -1, 2),
 (0, -2, 2),
 (0, 0, -1),
 (0, 1, -1),
 (0, 2, -1),
 (0, -1, -1),
 (0, -2, -1),
 (0, 0, -2),
 (0, 1, -2),
 (0, 2, -2),
 (0, -1, -2),
 (0, -2, -2),
 (1, 0, 0),
 (1, 1, 0),
 (1, 2, 0),
 (1, -1, 0),
 (1, -2, 0),
 (1, 0, 1),
 (1, 1, 1),
 (1, 2, 1),
 (1, -1, 1),
 (1, -2, 1),
 (1, 0, 2),
 (1, 1, 2),
 (1, 2, 2),
 (1, -1, 2),
 (1, -2, 2),
 (1, 0, -1),
 (1, 1, -1),
 (1, 2, -1),
 (1, -1, -1),
 (1, -2, -1),
 (1, 0, -2),
 (1, 1, -2),
 (1, 2, -2),
 (1, -1, -2),
 (1, -2, -2),
 (2, 0, 0),
 (2, 1, 0),
 (2, 2, 0),
 (2, -1, 0),
 (2, -2, 0),
 (2, 0, 1),
 (2, 1, 1),
 (2, 2, 1),
 (2, -1, 1),
 (2, -2, 1),
 (2, 0, 2),
 (2, 1, 2),
 (2, 2, 2),
 (2, -1, 2),
 (2, -2, 2),
 (2, 0, -1),
 (2, 1, -1),
 (2, 2, -1),
 (2, -1, -1),
 (2, -2, -1),
 (2, 0, -2),
 (2, 1, -2),
 (2, 2, -2),
 (2, -1, -2),
 (2, -2, -2),
 (-1, 0, 0),
 (-1, 1, 0),
 (-1, 2, 0),
 (-1, -1, 0),
 (-1, -2, 0),
 (-1, 0, 1),
 (-1, 1, 1),
 (-1, 2, 1),
 (-1, -1, 1),
 (-1, -2, 1),
 (-1, 0, 2),
 (-1, 1, 2),
 (-1, 2, 2),
 (-1, -1, 2),
 (-1, -2, 2),
 (-1, 0, -1),
 (-1, 1, -1),
 (-1, 2, -1),
 (-1, -1, -1),
 (-1, -2, -1),
 (-1, 0, -2),
 (-1, 1, -2),
 (-1, 2, -2),
 (-1, -1, -2),
 (-1, -2, -2),
 (-2, 0, 0),
 (-2, 1, 0),
 (-2, 2, 0),
 (-2, -1, 0),
 (-2, -2, 0),
 (-2, 0, 1),
 (-2, 1, 1),
 (-2, 2, 1),
 (-2, -1, 1),
 (-2, -2, 1),
 (-2, 0, 2),
 (-2, 1, 2),
 (-2, 2, 2),
 (-2, -1, 2),
 (-2, -2, 2),
 (-2, 0, -1),
 (-2, 1, -1),
 (-2, 2, -1),
 (-2, -1, -1),
 (-2, -2, -1),
 (-2, 0, -2),
 (-2, 1, -2),
 (-2, 2, -2),
 (-2, -1, -2),
 (-2, -2, -2)]

In [21]:
# Task 0.5.15 - modify the previous script to exclude (0,0,0)
s = set(range(-2, 3))
exp = list((i, j, k) for i in s for k in s for j in s if (i, j, k)!=(0,0,0))
exp

[(0, 1, 0),
 (0, 2, 0),
 (0, -1, 0),
 (0, -2, 0),
 (0, 0, 1),
 (0, 1, 1),
 (0, 2, 1),
 (0, -1, 1),
 (0, -2, 1),
 (0, 0, 2),
 (0, 1, 2),
 (0, 2, 2),
 (0, -1, 2),
 (0, -2, 2),
 (0, 0, -1),
 (0, 1, -1),
 (0, 2, -1),
 (0, -1, -1),
 (0, -2, -1),
 (0, 0, -2),
 (0, 1, -2),
 (0, 2, -2),
 (0, -1, -2),
 (0, -2, -2),
 (1, 0, 0),
 (1, 1, 0),
 (1, 2, 0),
 (1, -1, 0),
 (1, -2, 0),
 (1, 0, 1),
 (1, 1, 1),
 (1, 2, 1),
 (1, -1, 1),
 (1, -2, 1),
 (1, 0, 2),
 (1, 1, 2),
 (1, 2, 2),
 (1, -1, 2),
 (1, -2, 2),
 (1, 0, -1),
 (1, 1, -1),
 (1, 2, -1),
 (1, -1, -1),
 (1, -2, -1),
 (1, 0, -2),
 (1, 1, -2),
 (1, 2, -2),
 (1, -1, -2),
 (1, -2, -2),
 (2, 0, 0),
 (2, 1, 0),
 (2, 2, 0),
 (2, -1, 0),
 (2, -2, 0),
 (2, 0, 1),
 (2, 1, 1),
 (2, 2, 1),
 (2, -1, 1),
 (2, -2, 1),
 (2, 0, 2),
 (2, 1, 2),
 (2, 2, 2),
 (2, -1, 2),
 (2, -2, 2),
 (2, 0, -1),
 (2, 1, -1),
 (2, 2, -1),
 (2, -1, -1),
 (2, -2, -1),
 (2, 0, -2),
 (2, 1, -2),
 (2, 2, -2),
 (2, -1, -2),
 (2, -2, -2),
 (-1, 0, 0),
 (-1, 1, 0),
 (-1, 2, 0),
 (-1, -1, 0),
 (-1, -2, 0),
 (-1, 0, 1),
 (-1, 1, 1),
 (-1, 2, 1),
 (-1, -1, 1),
 (-1, -2, 1),
 (-1, 0, 2),
 (-1, 1, 2),
 (-1, 2, 2),
 (-1, -1, 2),
 (-1, -2, 2),
 (-1, 0, -1),
 (-1, 1, -1),
 (-1, 2, -1),
 (-1, -1, -1),
 (-1, -2, -1),
 (-1, 0, -2),
 (-1, 1, -2),
 (-1, 2, -2),
 (-1, -1, -2),
 (-1, -2, -2),
 (-2, 0, 0),
 (-2, 1, 0),
 (-2, 2, 0),
 (-2, -1, 0),
 (-2, -2, 0),
 (-2, 0, 1),
 (-2, 1, 1),
 (-2, 2, 1),
 (-2, -1, 1),
 (-2, -2, 1),
 (-2, 0, 2),
 (-2, 1, 2),
 (-2, 2, 2),
 (-2, -1, 2),
 (-2, -2, 2),
 (-2, 0, -1),
 (-2, 1, -1),
 (-2, 2, -1),
 (-2, -1, -1),
 (-2, -2, -1),
 (-2, 0, -2),
 (-2, 1, -2),
 (-2, 2, -2),
 (-2, -1, -2),
 (-2, -2, -2)]

In [23]:
# Task 0.5.16 - modify previous to omit all tuples except the first
s = set(range(-2, 3))
exp = list((i, j, k) for i in s for k in s for j in s)[0]
exp

(0, 0, 0)

In [26]:
# Task 0.5.18 - writ a comp that will produce all odd numbers between 1 and 99
exp = {x for x in range(1,100) if x%2 != 0}
exp

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99}

In [28]:
# Task 0.5.19 - write a script that will pair list index with list element in a list of tuples
l = ['A', 'B', 'C', 'D', 'E']
exp = list(zip(range(len(l)), l))
exp

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'), (4, 'E')]

In [37]:
# Task 0.5.20 --> [x[n] + y[n]], where x and y are lists and n is the index

ans = [[x+y] for [x,y] in zip([10, 25,40], [1, 15, 20])]
ans

[[11], [40], [60]]

In [43]:
# reversed method
rev = list(reversed(ans))
rev

[[60], [40], [11]]

In [69]:
# 0.5.21 - write script 
dlist =[{'James':'Sean', 'director':'Terence'}, {'James':'Roger', 'director':'Lewis'}, {'James':'Pierce', 'director':'Roger'}]
k = 'James'
exp = [d[k] for d in dlist]
exp

['Sean', 'Roger', 'Pierce']

In [1]:
# 0.5.22 - ]
dlist = [{'Bilbo':'Ian', 'Frodo':'Elijah'}, {'Bilbo':'Martin', 'Thorin':'Richard'}]
k = 'Bilbo'
exp = [d[k] for d in dlist if k in d]
exp

['Ian', 'Martin']

In [108]:
# 0.5.22 - ]
dlist = [{'Bilbo':'Ian', 'Frodo':'Elijah'}, {'Bilbo':'Martin', 'Thorin':'Richard'}]
k = 'Frodo'
exp = list(d[k] for d in dlist if k in d)
exp

['Elijah']

In [111]:
# 0.5.23 - create a dictionary that is x:x**2 for 0 to 99
exp = {x:x**2 for x in range(100)}

In [116]:
# 0.5.24 - create set of strings and map to dictionary where value is id()
d = {'red', 'white', 'blue'}
exp = {x:id(x) for x in d}
exp

{'white': 140056408303184, 'red': 140056545244248, 'blue': 140056408260088}

In [17]:
# 0.5.25
base = 10
digits = list(range(base))
exp = {x:[x//base//base//base%base, x//base//base%base, x//base%base, x%base] for x in range(base**4)}
exp[8932]

[8, 9, 3, 2]

In [127]:
# 0.5.26
id2salary = {0:1000, 3:990, 1:1200}
names = ['larry', 'curly', '', 'joe']
exp = {names[n]:x for n in id2salary.keys() for x in id2salary.values()}
exp

{'larry': 1200, 'joe': 1200, 'curly': 1200}

In [136]:
#0.5.28
nextInts = lambda L : L+1 
list(map(nextInts,[1,2,3]))

[2, 3, 4]

In [137]:
#0.5.29
cubes = lambda L : L**3
list(map(cubes, [1,2,3]))

[1, 8, 27]

In [142]:
#0.5.30
def dict2list(dct, klist): return [dct[k] for k in klist]
dict2list({'a':'A', 'b':'B', 'c':'C'}, ['b', 'c', 'a'])

['B', 'C', 'A']

In [144]:
# 0.5.31
def list2dic(lst, klist): return {k:l for (k, l) in zip(klist, lst)}
list2dic(['A', 'B', 'C'], ['a', 'b', 'c'])

{'a': 'A', 'b': 'B', 'c': 'C'}

In [12]:
# 0.5.32
def all_3_digit_nums(base, digits): return list(range(base**3))
all_3_digit_nums(10, {0,1})

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999]